@charset "utf-8";
html,body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}
img {
	behavior: url(elements/iepngfix.htc)
}
body {
	background:url(elements/bg_l2.png);
	background-repeat:repeat-x;
	background-color:#6a7175;
}
.Main_Area {
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCCCC;
	text-decoration:none;
}
.Main_Area a:active, .Main_Area a:visited, .Main_Area a:link {
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#33CCFF;
	text-decoration:none;
}
.Main_Area a:hover {
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0099FF;
	text-decoration:none;
}
.Main_Area_Scrab {
	overflow-y:scroll;
	height:260px;
}
.Main_Title, .Main_Title a:active, .Main_Title a:visited, .Main_Title a:link, .Main_Title a:hover  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#00FF00;
	text-decoration:none;
}
.menu_normal, .menu_normal a:active, .menu_normal a:visited, .menu_normal a:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#d3d7d8;
	text-decoration:none;
	padding-top:3px;
}
.menu_normal a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#98afb8;
	text-decoration:none;
	padding-top:3px;
}
.menu_down, .menu_down a:active, .menu_down a:visited, .menu_down a:link  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4e5e61;
	text-decoration:none;
	padding-top:3px;
}
.menu_down a:hover  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#5b6060;
	text-decoration:none;
	padding-top:3px;
}
.Text_Copy {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
}
.pos{
	position: relative;
	z-index:10;
}
.apDiv1 {
	position:absolute;
	left:300px;
	top:-110px;
	width:151px;
	height:110px;
	z-index:101;
	overflow: visible;
	background-color: #CCCCCC;
	filter:alpha(opacity=87);
	visibility:hidden;
}
.menu_text, .menu_text a:active, .menu_text a:visited, .menu_text a:link {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	color:#009933;
	text-align:left;
}
.menu_text a:hover {
	color:#000033;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	text-align:left;
}
.Input_Line {
	width:200px;
	border: 1px solid #FF9900;
}
.Input_Box {
	width:320px;
	height:130px;
	border: 1px solid #FF9900;
}